{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <body>
        <h1 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; color: black; font-size: 50px; text-align: center;"> Quiz Mangement System </h1>
        {% if message%}
            <div style="text-align: center; font-size: larger; color: black; font-weight: bold; font-family: 'Times New Roman', Times, serif;">{{message}}</div>
        {% endif %}
        <div class="login" style="left: 400px; top: 240px;">
            <div class="log_in" style="left: 40px;">
                <a href="http://127.0.0.1:8000/admin/"><i class="material-icons" style="font-size: 100px;color: black;">account_circle</i></a>
                <h2 style="color: black;">Admin Login</h2>
            </div>
            <div class="log_in" style="left: 100px;">
                <a href="User.html"><i class="material-icons" style="font-size: 100px;color: black;">account_circle</i></a>
                <h2 style="color: black;">User Login</h2>
            </div>
        </div>
    </body>
</html>