
<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
    </head>   
<body> 
    <form method='post' action='result.html'>
    {% csrf_token %}
    {% for q in ques%}
    <div class="form-group">
      <label for={{q.question}}>{{q.quesno}}. {{ q.question }}</label>
    </div>
    <div class="form-check">
        <div>
            <input type="radio" name="{{q.question}}" id="{{q.question}}_{{q.quesno}}" value="{{ q.a }}">
            <label for="{{q.question}}_{{q.quesno}}">{{q.a}}</label>
        </div>
        <div>
            <input type="radio" name="{{q.question}}" id="{{q.question}}_{{q.quesno}}" value="{{ q.b }}">
            <label for="{{q.question}}_{{q.quesno}}">{{q.b}}</label>
        </div>
        <div>
            <input type="radio" name="{{q.question}}" id="{{q.question}}_{{q.quesno}}" value="{{ q.c }}">
            <label for="{{q.question}}_{{q.quesno}}">{{q.c}}</label>
        </div>
        <div>
            <input type="radio" name="{{q.question}}" id="{{q.question}}_{{q.quesno}}" value="{{ q.d }}">
            <label for="{{q.question}}_{{q.quesno}}">{{q.d}}</label>
        </div>
        <br>
    </div>    
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </body>
</html>
