
<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <script>
            function checkVal(form) {
                for (var i = 1; i <= 4; i++) {
                    document.getElementbyID(form[i].value);
                     
                }
            }
        </script>
    </head>   
<body> 
    <h1 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; color: black; font-size: 50px; text-align: center;"> Quiz Mangement System </h1>
    <form method='POST' action='result.html'>
    {% csrf_token %}
    {% for q in ques %}
    <div id="quizval">
      <label for={{q.quesno}}>{{q.quesno}}. {{ q.question }}</label>
    </div>
    <div class="form-check">
            <input type="radio" name="{{q.quesno}}" id="{{q.quesno}}" value="{{ q.a }}">{{ q.a }}<br>
            <input type="radio" name="{{q.quesno}}" id="{{q.quesno}}" value="{{ q.b }}">{{ q.b }}<br>
            <input type="radio" name="{{q.quesno}}" id="{{q.quesno}}" value="{{ q.c }}">{{ q.c }}<br>
            <input type="radio" name="{{q.quesno}}" id="{{q.quesno}}" value="{{ q.d }}">{{ q.d }}<br>
    </div> 
    <br></br>   
    {% endfor %}
    <br>
    <button type="submit" onClick="checkVal(this.form)">Submit</button>
    
  </form>
    </body>
</html>
